@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Crotah";
  src: url("/fonts/crotah/crotah.ttf") format("trueType");
}

@font-face {
  font-family: "Sanctuary";
  src: url("/fonts/sanctuary/sanctuary.ttf") format("trueType");
}

body::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #1a1d2c;
}
