@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Crotah";
  src: url("/fonts/crotah/crotah.ttf") format("trueType");
}

@font-face {
  font-family: "Sanctuary";
  src: url("/fonts/sanctuary/sanctuary.ttf") format("trueType");
}

body::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #1a1d2c;
}

html {
  scroll-behavior: smooth;
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.connect-footer {
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
}
